*{
    margin: 0;
}
header{
    max-width: 1440px;
    height: 698px;
    margin: 0 auto; 
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
.nav-bar{
    width: 1140px;
    height: 151px;
    padding: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-bar-logo{
    width: 99px;
    height: 51px;
    font-weight: 900px;
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}
.nav-bar-btn{
    width: 132px;
    height: 48px;
    padding: 12px 36px;
    gap: 10px;
    background-color: rgba(78, 71, 255, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}
/* banner section style */
.banner{
    width: 905px;
    height: 237px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 65px;
    font-weight: 700px;
    color: rgba(37, 36, 50, 1);
}
.banner-btn{
    width: 174px;
    height: 48px;
    padding: 12px 36px;
    gap: 10px;
    background-color:rgba(78, 71, 255, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin-top: 37px;
}
/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
}
.left-action-container{
    width: 517px;
    height: 203px;
}
.action-title{
    width: 517px;
    height: 49px;
    font-size: 42px;
    font-weight: 700px;
    color: rgba(37, 36, 50, 1);
}
.action-sub-title{
    font-size: 60px;
    font-weight: 517px;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 24px;
}
.action-btn{
    width: 229px;
    height: 48px;
    padding: 12px 36px;
    gap: 10px;
    border-radius: 10px;
    background-color: rgba(78, 71, 255, 1);
    color: rgba(255, 255, 255, 1);
    margin-top: 24px;
}
.action-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* Productive Users Section style*/

.user-container{
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-top: 116px;
    margin-bottom: 116px;
}
.user-number-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 142px;
    margin-top: 30px;
}
.user-main-title2{
    margin: 0 auto;
}
.user-main-title{
    width: 856px;
    height: 45px;
    font-size: 38px;
    font-weight: 700px;
    color: rgba(37, 36, 50, 1);
    padding-left:264px ;
    padding-top: 50px;
    margin-bottom: 0;
}
.user-title{
    width: 162px;
    height: 97px;
    font-size: 80px;
    font-weight: 700px;
    color: rgba(78, 71, 255, 1);
    margin-bottom: 0;
    margin-top: 0;
}
.user-sub-title{
    width: 120px;
    height: 24px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
}
/* Users’ Feedback Section */
.feedback-container{
    display: flex;
    gap: 20px;
}
.avatar-mini{
    display: flex;
    align-items: center;
    gap: 20px;
}
.avatar-mini-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.avatar-mini-title1{
    margin-bottom: 0;
    color: rgba(117, 117, 117, 1);
}
.avatar-mini-title2{
    margin-top: 0;
    color: rgba(179, 179, 179, 1);
}
.star-icon{
    width: 116px;
    height: 20px;
}
.avatar-title{
    width: 221px;
    height: 29px;
    color: rgba(30, 30, 30, 1);
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 0;
    margin-top:8px ;
    margin-bottom: 24px;
}
.avatar-sub-title{
    width: 328px;
    height: 44px;
    color: rgba(30, 30, 30, 1);
    font-size: 16px;
    margin-bottom: 24px;
}
.feedback-section{
    width: 316px;
    height: 243px;
    padding: 24px;
    gap: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 15px 10px rgba(242, 237, 237, 1);
    border-radius: 14px;

}
.feedback-title{
    text-align: center;
    font-size: 42px;
    font-weight: 700px;
    color: rgba(37, 36, 50, 1);
    width: 1140;
    height: 49px;
    margin-bottom: 60px;
}
/* focus container style */
.focus-container-main{
    width:1140px;
    height: 696.77px;
    gap: 20px;
    border-radius: 14px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);
   
}
.focus-container{
    padding: 71px 150px;
     
}
.focus-title{
    font-size: 50px;
    font-weight: 700px;
    width: 516px;
    height: 60px;
    color: rgba(0, 0, 0, 1);
    padding-left: 170px;
    margin-bottom: 20px;
}
.focus-sub-title{
    width: 487px;
    height: 22px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 180px;
    margin-top: 0;
}
.focus-btn{
    width: 195px;
    height: 48px;
    padding: 12px 36px;
    background-color: rgba(78, 71, 255, 1);
    border-radius: 10px;
    color: rgba(255, 255, 255);
    margin-left: 295px;
    margin-bottom: 24px;
    margin-top: 24px;
}
.focus-img{
    width: 840px;
    height: 364.77px;
    border: 48px;

}
/*  Let’s Get In Touch Section  */
.touch-section{
    margin-top: 116px;
}
.touch-container{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: rgba(255, 255, 255, 0.5);
}
.touch-left h1{
    font-size: 97px;
    font-weight: 700px;
    width: 528px;
    height: 232px;
    line-height: 120%;
    color: rgba(0, 0, 0, 1);
}
.touch-right lebel{
    font-size: 18px;
    font-weight: 500px;
    color: rgba(0, 0, 0, 1);
    width: 497px;
    height: 22px;
}
.touch-right input{
    width: 497px;
    height: 70px;
    gap: 10px;
    padding: 20px 32px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 10px 10px 15px rgba(214, 221, 237, 1);
    border: none;
}
.touch-right textarea{
    width: 540px;
    height: 135px;
    padding: 20px 0 0 20px;
      border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 10px 10px 15px rgba(214, 221, 237, 1);
    border: none;
    resize: none;
}
.touch-right-btn{
    width: 540px;
    height: 62px;
    padding: 19px 101px;
    border-radius: 10px;
    border: none;
    background-color: rgba(78, 71, 255, 1);
    color: rgba(255, 255, 255, 1);
    gap: 10px;
}
textarea::placeholder{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Inter', sans-serif;
}
/* footer style */
footer{
    max-width: 1440px;
    height: 428px;
    margin: 0 auto;
    display: grid;
    place-items: center; /* Horizontal + vertical center */
    line-height: auto;
    margin-top: 0;
    background-color:rgba(255, 255, 255, 0.5) ;
    box-shadow: 0 10px 10px 15px rgba(78, 71, 255, 0.1);
    border-radius: 16px;
    margin-top: 40px;
} 
footer h1{
    width: 291px;
    height: 121px;
    font-weight: 900px;
    font-size: 100px;
    color: rgba(78, 71, 255, 1);
    margin-bottom: 8px;
}
footer p{
    width: 531px;
    height: 48px;
    color: rgba(137, 135, 161, 1);
    text-align: center;
    margin-top: 8px;
}
ul li a{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}
ul li{
    list-style: none;
}
footer ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.span{
    color: rgba(255,182,193,1);
}
.footer-anchor{
    margin-top: 0;
}
button:hover{
    transform: scale(1.1);
    background-color: #2980b9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} 